/* You can add global styles to this file, and also import other style files */
body {
    display: flex;
    justify-content: center;
    content: normal;
    
}

.container {
    border-width: 3px;
    border-style: solid;
    color: rgb(21, 255, 0);
    margin: auto;
    border-color: black;
    
    
    
}